.container_header{
  display: flex;
  justify-content:space-around;
  flex-direction: row;
  /* flex-wrap: nowrap; */
  width: 100%;
  max-width: 100%;
  align-items: center;
  vertical-align: middle;
  align-content: center;
  text-align: center;
  font-family: var(--font-family-base);

}

.container_logo{
  min-width: 30vw;
}
